<%--
  Created by IntelliJ IDEA.
  User: anemaharjan
  Date: 5/25/16
  Time: 1:54 PM
--%>

<%@ page contentType="text/html;charset=UTF-8" %>
<html>
<head>
    <meta name="layout" content="main"/>
    <title></title>
</head>

<body>
objectives

</body>
</html>