<%--
  Created by IntelliJ IDEA.
  User: anemaharjan
  Date: 5/24/16
  Time: 2:01 PM
--%>

<%@ page contentType="text/html;charset=UTF-8" %>
<html>
<head>
    <meta name="layout" content="main"/>
    <title></title>
</head>

<body ng-app="main">
<div class="container-fluid top15">
    <div id="myCarousel" class="carousel slide col-md-8 col-lg-offset-2" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
            <li data-target="#myCarousel" data-slide-to="5"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <asset:image src="4162-marvels-littlebigplanet-1920x1200-game-wallpaper.jpg"/>
                <font size="14">sd</font>
            </div>

            <div class="item">
                <asset:image src="Batman-Arkham-Origins-Video-Game-Desktop-Background.jpg"/>
            </div>

            <div class="item">
                <asset:image src="4162-marvels-littlebigplanet-1920x1200-game-wallpaper.jpg"/>
            </div>

            <div class="item">
                <asset:image src="Batman-Arkham-Origins-Video-Game-Desktop-Background.jpg"/>
            </div>

            <div class="item">
                <asset:image src="Batman-Arkham-Origins-Video-Game-Desktop-Background.jpg"/>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="col-md-8 col-lg-offset-2">
        <h1>Hello</h1>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vulputate lacus vitae erat tincidunt pharetra. Curabitur eu sapien ut mauris tempor euismod vel id odio. Sed quis felis sit amet ante tempor posuere ac non massa. Sed efficitur lobortis commodo. Sed lacinia quam in lectus hendrerit, interdum interdum tellus aliquam. Aliquam nec arcu nec elit congue placerat. Quisque pretium ipsum in augue ornare, eget scelerisque orci pellentesque. Integer iaculis diam enim, ut dapibus velit malesuada sit amet. Aenean non mi vel tellus tristique laoreet et sit amet massa. Sed tempor malesuada erat at aliquam. Cras mattis dignissim dignissim. Donec et pretium ipsum, et hendrerit metus. Sed laoreet ipsum dolor, vitae convallis nibh convallis eu. Aenean eget vulputate lectus, iaculis laoreet justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

        Donec pretium augue ut hendrerit tempus. Ut condimentum dolor vel erat sagittis, maximus aliquet lectus fermentum. Pellentesque sit amet rutrum augue, eu fringilla risus. Vivamus hendrerit risus bibendum sagittis hendrerit. Aenean fringilla neque neque, et lobortis tellus convallis et. Duis vitae quam leo. Pellentesque quis turpis eget purus luctus faucibus id a velit. Donec sagittis convallis augue in tristique. Pellentesque tempor enim eu sapien feugiat, sed porta risus condimentum. Vivamus at lectus vitae leo interdum sagittis. Proin non turpis sodales, aliquam lectus ac, hendrerit lectus. Nulla porta malesuada justo vel volutpat.

        In sit amet scelerisque eros, in aliquam orci. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur neque est, tempor a posuere at, maximus eu velit. Nunc eu velit sagittis, pulvinar dolor sed, iaculis nisi. Pellentesque lorem enim, interdum vehicula gravida vel, laoreet vitae nisl. Proin sollicitudin posuere porttitor. Donec ac dignissim sem. Proin vel auctor tellus. Curabitur ligula dolor, hendrerit vehicula nibh non, pretium dictum lectus. Aliquam sed efficitur quam. Aenean sit amet blandit quam, a efficitur augue. Fusce scelerisque diam sed ipsum facilisis hendrerit. Cras et nibh ut mi porta lacinia quis at tellus. Nulla volutpat, ante et venenatis mattis, purus odio fringilla mauris, et aliquet lorem nunc sit amet tellus. In hac habitasse platea dictumst. Praesent gravida tellus sit amet diam convallis, in hendrerit ligula accumsan.

        Duis in pharetra mi. Sed et rutrum massa. Maecenas aliquet, justo non auctor pellentesque, ex enim cursus metus, commodo consectetur massa lacus ut erat. Nam sollicitudin sagittis facilisis. Cras sit amet efficitur libero. Nullam efficitur finibus interdum. Praesent tempor elit at magna tincidunt porta at vel dolor. Sed pellentesque lectus risus, facilisis auctor metus efficitur eget. Nam ultricies enim quam. Phasellus a vulputate dui. Integer ultricies sem nibh, ac bibendum augue vestibulum vel. Nam quis elit semper, tincidunt erat vitae, ullamcorper metus.

        Aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tincidunt dolor et accumsan vestibulum. Proin aliquam eleifend dolor. Morbi sit amet aliquam magna. Donec vehicula eros velit, non pellentesque quam lobortis sed. Phasellus luctus turpis a diam fringilla fringilla. Phasellus at velit justo. Nunc eget ante pharetra, malesuada urna et, posuere sapien. Nunc cursus leo risus, ut varius dui pulvinar at. Suspendisse imperdiet ultrices viverra. In nec aliquet nulla, rhoncus viverra massa.

        Nam eu augue a eros congue interdum. Quisque dapibus, nisl non sollicitudin bibendum, lectus turpis mattis enim, ut euismod est urna quis ex. Etiam convallis, tellus vitae venenatis ullamcorper, quam nisl elementum massa, non egestas lectus ex eget tortor. Nulla eget tempor ante. Phasellus et lobortis odio, sed imperdiet ipsum. Vestibulum congue lorem pretium ipsum posuere, eu efficitur diam consequat. Nunc leo mauris, ultricies id tellus id, iaculis efficitur diam. Cras diam orci, condimentum non iaculis eu, vestibulum sed sapien. Sed sodales facilisis diam, sed vulputate elit rutrum et. Aliquam vel pellentesque tortor, et lobortis quam. Aliquam mollis ullamcorper mattis. Fusce auctor quis urna faucibus efficitur. In faucibus velit eu magna laoreet volutpat. Aenean vel consequat nisi, ac sodales ex.

        Aliquam tristique erat eu dignissim tempor. Aliquam sit amet gravida magna. Donec a erat consectetur, sagittis est et, commodo libero. Maecenas facilisis tristique velit, sit amet consectetur eros commodo sed. Mauris elit nulla, luctus ac egestas ut, tristique vitae ligula. Nunc diam metus, consectetur ut lectus eu, tempus ullamcorper odio. Aenean a consequat diam, a accumsan ipsum. Nam aliquam, mi ac egestas condimentum, nisi leo dictum nibh, tempor consectetur nisl ante ac tortor.

        Duis eu quam porttitor, iaculis felis feugiat, dignissim lacus. Morbi hendrerit felis ut tellus gravida hendrerit. Donec fringilla, eros tristique sodales interdum, nisi tortor dapibus nunc, ac tempor enim erat eu urna. Ut mattis justo eget ultricies pellentesque. Nullam tristique congue pharetra. Aenean gravida dignissim mi, eu rhoncus urna iaculis a. Ut mattis facilisis lacus, porta sodales lacus tincidunt ut. In at interdum ipsum. Quisque congue tristique ante eget cursus.

        Duis non iaculis sem, at aliquam arcu. Donec ipsum erat, sollicitudin id tellus eu, scelerisque sodales dolor. Etiam ut nisl ut elit vestibulum scelerisque. Praesent at sapien enim. Suspendisse lacinia sem ex, id viverra nibh fringilla id. Nunc vulputate aliquet nibh vitae facilisis. Aliquam sem dui, dictum eget tincidunt eu, ultricies id lacus. Maecenas pulvinar hendrerit lobortis. Proin iaculis vel mauris ut condimentum. Ut iaculis bibendum metus, et molestie arcu ultrices nec.

        Nunc ultrices finibus dolor id vehicula. Pellentesque placerat lacinia justo vitae efficitur. Nulla facilisi. Nullam tempus bibendum lobortis. Sed dolor felis, egestas vel enim ac, elementum varius neque. Curabitur ornare leo ac massa molestie imperdiet. Pellentesque feugiat convallis suscipit. Vivamus iaculis ultricies odio at vestibulum. Vestibulum eleifend, leo nec semper tincidunt, nisl tellus venenatis ante, ut pulvinar mi arcu vel augue. Maecenas scelerisque lobortis accumsan. Praesent elementum lobortis diam, non mattis augue dapibus vitae. Morbi a lacinia tellus, eu tempus odio. Aliquam pulvinar, lacus vel scelerisque ornare, odio elit facilisis nunc, vitae lacinia massa est eget enim. Ut lacinia condimentum leo a tristique. Aenean blandit dolor vel libero mollis molestie. Morbi rutrum ex eget imperdiet vulputate.

        Fusce convallis neque quis metus consequat, vitae dictum enim accumsan. Mauris lacinia dapibus sem. Quisque aliquam vehicula pharetra. Praesent sit amet urna non elit dapibus feugiat. Nunc ut lacinia sapien, et sollicitudin nibh. Curabitur at faucibus nisl. Quisque nisi elit, rutrum quis orci eget, facilisis maximus erat. Donec non leo et ipsum gravida fringilla. Donec vel nisi in lacus maximus lacinia vel et sapien.

        In interdum egestas vehicula. Aliquam ultrices placerat enim quis sollicitudin. Integer a elementum felis. Suspendisse cursus purus lectus, et blandit arcu molestie vel. Nam nunc tortor, sodales elementum metus vitae, cursus iaculis mi. Aenean eu tortor risus. Nullam finibus felis ut ante tincidunt vestibulum nec lacinia ante. Pellentesque augue ante, pulvinar vitae fringilla vel, tempor eget nibh. Sed et ultrices felis. Nunc sem ex, convallis in feugiat ut, maximus commodo nulla. Nulla sed elit nec tortor mollis porttitor vitae in diam.

        Mauris suscipit velit quis quam ultrices mollis. Vivamus id elit et magna placerat consectetur quis id libero. Aliquam a nunc varius, vulputate odio a, consectetur quam. Aliquam non viverra quam, in imperdiet odio. Nam dignissim nec tortor sit amet varius. Curabitur quis iaculis odio. Donec vehicula turpis ac sapien volutpat, in molestie ipsum volutpat. Praesent in ante ut tortor tristique convallis. Aenean sapien nibh, porta a mattis ut, vehicula at mauris. In rutrum sit amet odio a volutpat. Praesent aliquam laoreet ligula, id interdum nibh semper vel. Donec id enim consequat eros posuere scelerisque.

        Duis tristique nisi ut sodales porttitor. Nunc maximus in neque ac dictum. Vivamus mollis leo arcu. Morbi sed elit a est iaculis gravida. Proin eu nunc diam. Fusce dui ante, varius ut lorem ac, aliquet sollicitudin velit. Aenean id euismod risus. Mauris eget cursus nulla, vitae sodales sem. Donec ac lacus dictum, porta justo vel, porta ex. In hac habitasse platea dictumst. Mauris interdum enim ac nisi ornare, quis dapibus ipsum faucibus. Quisque quis vulputate ex. Duis elementum vitae nisi ut sollicitudin. Morbi ac ante quis nunc sagittis blandit eget et mi.

        Sed nec nibh posuere, sagittis enim id, euismod enim. Praesent pellentesque leo quis eros posuere faucibus. Integer ut maximus neque, at vestibulum felis. Nunc efficitur ac ante in venenatis. Nam tincidunt auctor lacus. Nulla nec malesuada libero. Vestibulum iaculis, augue non sollicitudin mollis, magna orci vulputate mi, ut gravida est nisi vel justo. Proin eget iaculis orci. Integer euismod, nisl ac lobortis convallis, erat neque pharetra est, quis aliquet massa neque sed nibh. Nam quis est eget dui vestibulum accumsan. Nunc ut molestie sem. Suspendisse quis pulvinar nunc, id faucibus nibh. Mauris a eleifend arcu, et facilisis sem. Duis sed congue orci, non condimentum neque.

        Sed bibendum, arcu non auctor aliquet, orci mauris lacinia arcu, accumsan lacinia nulla nisl at ligula. Suspendisse facilisis feugiat felis nec tincidunt. Nullam rhoncus iaculis vulputate. Sed auctor lacus eu magna aliquet, imperdiet lacinia erat finibus. Integer condimentum vel erat sed scelerisque. Nam vehicula felis ac ex molestie, id ornare justo tincidunt. Ut sed vehicula ipsum, eu maximus magna.

        Phasellus lacinia finibus urna, sed ornare purus ornare ut. Donec viverra sollicitudin sollicitudin. Vestibulum at porttitor enim, ac condimentum tellus. Nam placerat lacus massa, id finibus leo pellentesque vel. Integer in lorem vel ligula euismod cursus sed non massa. Morbi in libero cursus, luctus magna elementum, euismod diam. Vestibulum vitae sollicitudin velit. Ut mi magna, placerat eget dui sed, venenatis facilisis mi.

        Ut ut dapibus dolor, in consectetur orci. Cras eleifend, lacus eu laoreet laoreet, ante augue condimentum ligula, a vestibulum nulla turpis ut ligula. Sed at egestas est. Donec urna libero, euismod vel ante a, blandit lobortis erat. Curabitur imperdiet sodales ipsum a rutrum. Vivamus ultrices aliquet leo at vulputate. Duis vehicula, orci quis placerat tristique, mauris erat eleifend quam, sed mollis lorem velit luctus lectus. Mauris vel varius purus. Proin a congue elit, non egestas libero. Quisque vel elit justo.

        Quisque dui dui, auctor quis aliquet venenatis, commodo id nisl. Nullam gravida, massa a vestibulum eleifend, sapien felis sollicitudin tortor, non venenatis lorem lorem at sapien. Mauris interdum leo a nisi sagittis vehicula. Maecenas interdum eget urna vel varius. Pellentesque gravida volutpat maximus. Sed nisl felis, tempus molestie cursus vitae, congue quis ante. Donec a purus id orci posuere laoreet ut eu nibh. Donec accumsan tempor fringilla. Quisque eleifend lobortis diam in lacinia. Mauris id lacinia neque, non pretium sapien. Nullam semper purus tortor, ac elementum ligula molestie at. Pellentesque sed faucibus libero.

        Aliquam sit amet sodales augue. Quisque mauris diam, interdum vitae rutrum quis, vulputate sit amet sapien. Maecenas maximus quis nulla ac ornare. Nullam gravida ante nisi, sit amet vehicula sapien iaculis et. Sed bibendum eget nunc nec ultrices. Integer placerat tortor vel dui bibendum viverra. Suspendisse vitae dignissim ante. Duis ut turpis erat. Donec nec ligula et urna congue interdum nec eget velit. Morbi at tortor volutpat, pretium diam nec, hendrerit elit. Suspendisse vehicula tortor mi, vel porta sem viverra at. Pellentesque at metus in tellus dictum faucibus.

        Mauris metus diam, congue at ipsum sed, lacinia bibendum massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque venenatis velit enim. Nunc porttitor nulla a mi consequat eleifend. In ac congue dui. Vivamus et dapibus neque. Curabitur nec ante sapien. Vestibulum volutpat ultricies massa, id blandit ante pretium vitae. Donec euismod ipsum vitae eleifend aliquam. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed pulvinar neque non sapien mattis, id ultrices turpis egestas. Nullam et suscipit sapien. Vivamus aliquam, justo a imperdiet imperdiet, quam tellus consectetur massa, sed commodo est ligula eu turpis. Phasellus rhoncus mi sed facilisis fringilla.

        Fusce sagittis, nulla nec convallis auctor, erat leo tempus turpis, ut vehicula urna est ultricies ipsum. Ut nec erat sed mauris consequat convallis. Vestibulum rutrum quam vitae erat maximus, vel luctus dolor molestie. Fusce porttitor varius facilisis. Ut quis sem diam. Nulla rutrum ipsum sodales, malesuada urna a, porttitor neque. Ut vel magna nulla. Integer vel dui non sem elementum sollicitudin. Phasellus in ante tristique, feugiat orci eu, condimentum metus. Aliquam in elit turpis. Suspendisse vitae dignissim elit.

        Curabitur vestibulum nec urna non placerat. Mauris ut vehicula massa. Aliquam erat volutpat. Vestibulum sollicitudin bibendum justo ut hendrerit. Proin vel facilisis mi. Vestibulum pretium ullamcorper turpis, interdum imperdiet erat maximus vitae. Donec ultrices eget erat a mattis.

        Duis eu placerat lorem. Nullam tempor tortor cursus tortor mattis viverra. Phasellus dui lacus, vestibulum id condimentum ac, semper vel eros. Mauris nec sem venenatis, semper risus vitae, venenatis dui. Ut et enim non tellus tempus mattis ut ac ligula. Quisque eget felis sit amet nulla volutpat vehicula in ac dolor. Nam sit amet massa vel enim pharetra lacinia non a lacus. Donec purus eros, feugiat at tortor eleifend, dignissim elementum augue. Quisque a sapien aliquet, pretium metus eu, tincidunt felis. Phasellus sit amet neque eu libero facilisis tempor vel maximus enim. Maecenas eu erat sed felis faucibus aliquam facilisis eget purus. Vivamus ac tristique justo, ut finibus libero.

        Fusce libero odio, mattis non mollis eu, euismod id sem. In vitae orci rhoncus, mollis felis a, accumsan est. Nulla in posuere nunc, quis porta massa. Sed volutpat dignissim orci ut bibendum. Nunc consectetur nisl sagittis, lobortis neque sit amet, tincidunt elit. Proin dictum, diam vel cursus accumsan, mauris nunc condimentum risus, ac vehicula quam mauris a massa. Ut eu feugiat lectus, sit amet tempus mi. Mauris vel metus ex. Fusce iaculis elementum massa in egestas. Maecenas eget finibus turpis. Maecenas sit amet mi in enim faucibus porta at id lectus. Duis quis leo ante. Mauris accumsan, ipsum vel vestibulum condimentum, tortor tortor iaculis purus, et lobortis augue mi non elit.

        Sed a dui ac enim gravida eleifend. Vivamus in iaculis magna. Vivamus tempor mollis ex, ut tempus massa eleifend quis. Sed ac cursus tortor, vel vulputate sapien. Maecenas semper lacus tempus, tincidunt lectus in, eleifend orci. In eu turpis felis. Vivamus dolor mauris, tempor sit amet odio tempor, vulputate vehicula sapien. Aenean et est congue, egestas diam ac, luctus sapien.

        Aenean a vulputate urna. Curabitur vitae justo risus. Quisque et ipsum laoreet, ultricies mauris vehicula, tincidunt nunc. Nam luctus dictum eleifend. Sed sed nisl condimentum, gravida neque nec, luctus leo. Maecenas aliquet orci quis erat aliquam, sit amet aliquet lacus efficitur. Etiam porttitor metus quis leo faucibus porta. Aliquam sed justo vel mauris pharetra iaculis. Pellentesque ultricies, ligula porttitor commodo blandit, orci arcu ultricies ex, in rutrum augue lorem a nulla. Cras gravida tellus ut purus iaculis, et sollicitudin ligula malesuada.

        Integer eu scelerisque ligula. Vestibulum laoreet ante ut sem facilisis, eu lobortis enim consectetur. Proin sed suscipit neque. Etiam sapien justo, tincidunt id nisi eu, tincidunt fringilla lectus. Duis maximus urna id velit rutrum, eget volutpat ipsum auctor. Nulla consectetur est ac tortor luctus, quis mattis dui sodales. Sed faucibus ullamcorper purus id fringilla. Donec iaculis nisl eros, eget ornare lectus condimentum a. Donec consectetur mollis nunc a fermentum. Sed efficitur finibus eros sed accumsan. Nullam arcu leo, fringilla quis consequat in, lacinia a dui. Praesent vel pellentesque sapien. Praesent malesuada ultricies consequat. Aenean ut dolor eu dolor egestas consectetur vel egestas enim.

        Etiam pulvinar arcu sit amet lacinia ultrices. Quisque consectetur sapien nulla. Ut accumsan nisl eu mattis malesuada. Sed sodales ex ut nisi elementum, eget dictum leo rutrum. Cras aliquet augue eu mattis rhoncus. Curabitur varius pellentesque aliquam. Praesent in mi eget lectus dignissim rutrum vel ut lacus. Proin viverra facilisis ante a posuere.

        Pellentesque bibendum dui sollicitudin laoreet semper. Nullam sollicitudin est vel diam condimentum, nec convallis lectus rutrum. Fusce lacinia arcu orci, accumsan pellentesque nisi sagittis vel. Ut sed tristique erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas iaculis nibh urna. Nullam id vulputate risus, vitae aliquet ante. Donec mattis, leo ac tincidunt sagittis, ligula libero malesuada libero, quis auctor sem sapien eget augue. Proin mattis velit nibh, quis fermentum ipsum scelerisque faucibus. Vestibulum nisl dolor, sagittis id elit sed, gravida accumsan ipsum.

        Morbi non sapien nunc. Ut ac sagittis lacus. Nulla facilisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus a faucibus nunc. Fusce nec faucibus ex. Etiam vitae tellus eu tortor ultrices egestas. Vivamus a felis quis ligula condimentum convallis.

        Duis quis odio cursus augue luctus posuere nec id ipsum. Vestibulum ut finibus nunc. Duis scelerisque quam odio, nec finibus ligula egestas ac. Donec pulvinar in magna quis suscipit. Donec rhoncus magna id dolor vulputate, ac tincidunt tellus venenatis. Nullam vehicula scelerisque velit, at congue tellus malesuada sed. In convallis congue mi, quis luctus tellus. Etiam ipsum massa, rhoncus eget dolor eu, dapibus blandit justo. Mauris massa diam, condimentum nec nisi nec, fermentum elementum lorem. Sed a odio et mi hendrerit suscipit vel eleifend felis. Vestibulum cursus porttitor est, quis iaculis nisi efficitur eget. Suspendisse ultrices sapien lacinia, condimentum dolor nec, blandit erat. Sed risus eros, facilisis ut volutpat sit amet, faucibus ut neque.

        Vivamus tincidunt, nisi sit amet dictum sollicitudin, ex mauris aliquet metus, eget pulvinar ipsum tellus vel lorem. Phasellus gravida, nibh non convallis rutrum, leo mauris finibus lacus, at aliquet purus mi sollicitudin libero. Vestibulum dapibus mi dui, in laoreet ligula euismod nec. Integer eget libero dolor. Praesent nec ipsum tincidunt, hendrerit urna a, ullamcorper dolor. Suspendisse pulvinar, eros non fermentum posuere, purus metus bibendum lectus, at ullamcorper nunc nunc vel ante. Donec sed velit interdum, suscipit nibh id, semper velit. Vivamus cursus nunc ac erat vehicula pretium. Proin lobortis nunc ut est suscipit pharetra. Duis accumsan purus tristique egestas commodo. Curabitur diam augue, scelerisque et egestas ut, aliquam nec massa. Phasellus finibus urna ut mauris tristique tempor.

        Morbi lacinia, tellus nec pulvinar ultricies, lectus magna pellentesque dolor, ac tincidunt metus libero eget ante. Nam sodales ac magna sit amet maximus. Aliquam accumsan dignissim dolor. Etiam eget efficitur est. Quisque porttitor lectus a posuere placerat. Nullam suscipit libero at diam congue, ut maximus enim suscipit. Phasellus vel pulvinar tortor. Proin et arcu ac felis tincidunt scelerisque non ut massa. Aliquam eget malesuada arcu. Integer a imperdiet turpis. Sed fermentum, arcu nec commodo euismod, enim eros finibus orci, at lacinia dui nunc eget lacus. Curabitur condimentum augue nec tortor sagittis volutpat. Donec vel est sodales, condimentum lectus ac, tristique odio. Duis eleifend leo sed nisl porta, scelerisque ornare sapien pharetra. Nulla facilisi.

        In consequat ligula non mauris auctor congue. Nulla cursus egestas ultricies. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis eget turpis ullamcorper, sollicitudin orci vel, tempor est. Etiam sed orci felis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam risus sem, volutpat suscipit elementum in, mattis et risus. In sollicitudin eget purus sit amet dapibus. Proin elementum diam purus, eget finibus ex luctus non. Nam eget varius purus.

        Donec ultricies turpis facilisis eros feugiat, id molestie metus fringilla. Integer eu justo vitae tellus blandit mattis. Integer augue urna, rhoncus vel efficitur a, faucibus id mi. Fusce nec odio vel tortor suscipit iaculis in ut augue. Aenean placerat, nunc a scelerisque viverra, erat ipsum laoreet mauris, in posuere eros lorem ac velit. Donec viverra rutrum neque vel euismod. Mauris non lacinia ligula. Vivamus augue sapien, ornare aliquet eros eget, tempus feugiat turpis. Donec vel velit nec lorem accumsan aliquet ut a enim.

        Nam vel justo tellus. Mauris id lacus posuere, elementum diam quis, placerat felis. Curabitur auctor justo non sapien dignissim, vitae tincidunt tortor ornare. Maecenas eget auctor odio. Quisque posuere faucibus ex sit amet ullamcorper. Phasellus vitae imperdiet velit. Ut scelerisque, erat sagittis rutrum vehicula, libero libero maximus justo, vel aliquam augue metus eu erat.

        Etiam interdum nisi mauris, sed viverra neque sollicitudin nec. Maecenas quam mauris, gravida et pretium non, dignissim vel orci. Donec tellus augue, auctor id ultrices nec, cursus at ex. Nullam eu ex porta, fringilla elit ac, tincidunt magna. Duis vulputate luctus efficitur. Aenean ut risus nisi. Integer venenatis dui ac magna malesuada vulputate. Aliquam interdum sodales neque, vitae suscipit mauris ullamcorper et. Suspendisse imperdiet magna sapien, vitae eleifend libero viverra pretium. Duis ultricies sodales pretium. Ut efficitur sagittis sem non imperdiet. Sed nec aliquet turpis. Nunc finibus dui sed enim porta vehicula. Cras dolor felis, semper nec mollis in, fringilla at sem. Ut viverra, arcu vitae porta condimentum, sem ligula pellentesque dui, at imperdiet felis turpis eget purus.

        Nam nec suscipit odio. Nullam fermentum aliquet quam a eleifend. Aliquam mattis elit vel dolor facilisis, vitae suscipit libero ornare. In laoreet pellentesque diam quis rutrum. Vestibulum vestibulum, diam nec pulvinar hendrerit, quam sapien vulputate nibh, non sagittis nisl lectus in lorem. Maecenas ac varius magna, eget egestas diam. Etiam iaculis nulla risus, eu sodales dui luctus in. Nam ac egestas nisl. Etiam mauris mi, hendrerit nec ante vel, consectetur dictum quam. Nam nibh nisl, vehicula ornare bibendum quis, laoreet sit amet quam. Etiam augue mi, feugiat et ipsum vel, iaculis congue ex. Maecenas dictum venenatis enim, vel tristique ipsum auctor vitae. Integer dapibus lacus sit amet est ullamcorper, nec tincidunt magna fringilla. Vivamus vulputate dui sed est sagittis convallis. Maecenas bibendum turpis lectus, nec aliquam velit viverra non. Nunc ligula lectus, scelerisque eget eros a, pharetra mollis ante.

        Etiam mattis magna non ipsum dignissim, vitae iaculis dolor porta. Suspendisse vestibulum mollis pulvinar. Proin in quam sed eros mollis ullamcorper non id tellus. Donec vel erat faucibus, tincidunt nibh vitae, laoreet ligula. Pellentesque lobortis interdum laoreet. Proin placerat arcu vel ex cursus, ut mattis augue laoreet. Aenean ut convallis magna. Suspendisse potenti. Fusce libero nunc, sodales at augue vel, mattis imperdiet tortor. Vestibulum sed interdum ex, id suscipit dui. Nunc vitae faucibus velit, nec imperdiet magna. Sed purus turpis, ullamcorper ut porttitor ac, eleifend a lacus.

        Pellentesque bibendum magna eu orci sollicitudin commodo. Nunc a eros et lacus dignissim auctor in et quam. Donec consequat lorem magna, at sagittis nunc finibus ac. Duis sed neque arcu. Quisque turpis ligula, rutrum id magna eget, pretium pharetra justo. Sed in tortor tristique, congue ipsum quis, aliquam nunc. Proin ac massa a purus condimentum auctor. In vel ligula ac ligula auctor aliquet at eget dolor. Mauris laoreet sapien at velit placerat interdum. Donec sodales tortor sed nulla mattis ullamcorper. Nullam eget metus eu ante laoreet lacinia sed a diam. Nunc ultricies sodales suscipit. Fusce egestas varius fringilla. Nulla maximus tincidunt urna facilisis mollis. Vestibulum eget mollis arcu. Ut vitae diam sed leo placerat lacinia vitae ut felis.

        Praesent eros nibh, placerat at sollicitudin vel, pulvinar in dui. Pellentesque tincidunt egestas odio. Sed nec auctor mauris. Praesent in ex interdum, elementum augue fermentum, elementum tellus. Sed cursus nisi et arcu bibendum, a cursus tellus pulvinar. Proin non massa ut mauris dignissim ultrices. Sed augue quam, dignissim eget vulputate volutpat, dapibus et sapien. Nam velit nisl, auctor non leo id, vestibulum suscipit risus. Mauris et urna pretium, volutpat massa eget, euismod ligula. Nulla nibh risus, viverra sed nisl nec, ultricies vestibulum nunc. Quisque eget mauris blandit, efficitur lacus eu, consequat justo. Sed consequat, libero at elementum eleifend, urna lectus mollis neque, at fermentum ex nisi quis risus.

        Donec vulputate, nibh id semper imperdiet, sem velit varius sem, quis ullamcorper nisl erat nec est. Sed eu blandit arcu. Suspendisse tempus lacus vel ullamcorper malesuada. Donec lectus dolor, aliquam vel vestibulum ullamcorper, hendrerit et elit. Nam placerat, nisi sed malesuada ornare, turpis diam gravida ligula, id mattis tellus velit eget nunc. Curabitur ornare lacus sit amet metus euismod, eget fermentum quam congue. Aenean nec diam eleifend, interdum nisl nec, rhoncus dolor. Fusce erat diam, laoreet a finibus id, posuere ut mi. Vestibulum dictum ultricies purus a dapibus.

        Pellentesque sed velit luctus, sollicitudin leo id, luctus eros. Nulla facilisi. Fusce nec odio dolor. Donec tincidunt arcu in purus tristique scelerisque blandit id massa. Vivamus tristique sem non iaculis finibus. Sed pretium dapibus eros, eu volutpat lectus ullamcorper pellentesque. Praesent quam ante, molestie eu euismod eu, lobortis ut tortor. Nulla volutpat, orci sit amet vestibulum gravida, elit ligula porta sapien, eget condimentum arcu magna vitae neque. Sed quis elit vulputate, egestas velit non, tincidunt neque. Curabitur non tellus arcu. Vestibulum nec pulvinar nulla. Suspendisse maximus turpis eu nulla fermentum, a laoreet leo bibendum. Donec luctus odio sed dui accumsan tempor. Quisque maximus quis mi vel porta. Mauris faucibus elit quis dignissim aliquet.

        Donec scelerisque sem lacus, quis interdum massa scelerisque ac. Duis sed varius arcu. Curabitur hendrerit metus ut leo consectetur pellentesque. Suspendisse volutpat dictum tellus, id pellentesque nisl auctor a. Integer malesuada turpis turpis, vehicula sodales risus feugiat dictum. Suspendisse suscipit diam nec lorem pharetra, eu tincidunt augue accumsan. Aliquam id ex aliquam, pharetra nisi in, ornare neque. Praesent magna libero, malesuada id eros eget, vestibulum egestas sapien. Sed accumsan imperdiet purus eget euismod. Duis vitae enim non augue consequat lacinia. Aliquam eleifend ligula nec rutrum dignissim. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

        Morbi consectetur nibh a lacus gravida, ut euismod quam facilisis. Ut feugiat eros purus, vehicula laoreet mauris hendrerit in. Morbi lectus mauris, porta eget sem non, posuere ultricies magna. Pellentesque a risus ac arcu lacinia tincidunt. Donec scelerisque lacinia semper. Etiam lorem enim, tincidunt sed quam semper, pellentesque pretium est. Curabitur semper orci ut arcu convallis, et lacinia dolor blandit. Nulla feugiat, arcu at rhoncus ornare, ante neque ultrices nisl, sed cursus leo metus sed erat. Mauris enim ligula, elementum id sagittis eget, tempor id neque. Nam porttitor a ante vitae luctus.

        Nullam accumsan eu dui eu pharetra. Praesent sit amet lorem enim. Pellentesque vehicula nisl nec lacus vulputate, cursus blandit urna ornare. Nam at massa at turpis mollis lobortis. Integer eget diam vulputate, bibendum dui sit amet, tincidunt nisl. Curabitur augue justo, lacinia nec sem sit amet, ornare congue nisi. Suspendisse varius tortor diam, vel eleifend dui faucibus et. Nunc condimentum erat ac justo lacinia mollis. Nullam tempor egestas augue, ac vulputate lacus dictum vel. Integer vel blandit nunc. Nunc orci arcu, commodo in nisl at, scelerisque consectetur lectus. Proin posuere rhoncus venenatis.

        Maecenas eu orci in diam cursus consequat. Nulla fermentum, magna ut bibendum interdum, eros odio luctus felis, at eleifend ex est id dolor. Sed ipsum nunc, accumsan ut imperdiet non, volutpat nec nibh. Aliquam rhoncus, leo a varius rhoncus, mi massa commodo augue, id vulputate nisl augue vitae libero. Donec vehicula purus quis molestie molestie. Maecenas rutrum in erat et tempus. Donec a odio quis elit hendrerit molestie. Proin pellentesque sagittis ante sed eleifend. Duis euismod neque rhoncus, dapibus lorem et, cursus est. Nulla nec sapien laoreet, ultrices felis at, consequat ex. Suspendisse blandit et orci id auctor. Etiam blandit felis a leo aliquet, consequat cursus nisl tempus. Vestibulum vitae fringilla risus, in pharetra velit. Ut molestie erat et odio viverra consectetur. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin sit amet bibendum purus.

        Duis lacus felis, consectetur in imperdiet vitae, aliquet vel turpis. Pellentesque vestibulum ipsum quis lectus vestibulum convallis. Donec eget interdum lacus. Proin vel augue ultricies, faucibus est ut, venenatis mi. Maecenas pretium, nibh sit amet ornare ornare, massa mauris finibus mauris, quis maximus felis ante sed diam. Proin egestas dolor vitae diam condimentum scelerisque. Suspendisse in ligula vulputate, mollis odio eu, eleifend eros. Donec pulvinar dictum nulla et feugiat. Duis et tincidunt nibh. Vivamus leo felis, fringilla non rutrum at, auctor ut tortor.

        In facilisis nisl turpis, quis lacinia augue congue vitae. Cras porta, sem eget fermentum porttitor, felis nisi ullamcorper odio, id vehicula leo turpis in ante. Quisque ut euismod mauris. Ut dui mauris, aliquam eget aliquam a, commodo vestibulum eros. Duis dictum, erat non rhoncus pulvinar, dui nulla tincidunt magna, sit amet hendrerit diam dolor non leo. Nullam non neque iaculis, pretium nunc in, cursus libero. Curabitur aliquam hendrerit sem, et maximus ipsum. Aliquam sem orci, pharetra at vehicula et, gravida id risus. Suspendisse sit amet quam in nunc ultricies dictum. Integer elementum nunc nec tortor aliquam laoreet. Sed tempus nisl vel mauris gravida gravida. Proin sagittis ipsum id sem ultrices imperdiet. Morbi urna eros, posuere sed cursus non, sollicitudin non lectus. Donec a luctus leo.

        Ut blandit vitae tortor ut lacinia. Mauris luctus, ex et volutpat sollicitudin, eros ligula pharetra tortor, id condimentum odio erat at ante. Pellentesque elementum quam a massa posuere, ac dignissim dolor malesuada. Vivamus posuere, elit faucibus faucibus tempus, elit enim suscipit urna, non efficitur sem dolor sed leo. Duis tempus metus eget lectus aliquet ultricies. Proin ligula tortor, luctus et lorem ut, eleifend condimentum diam. Aliquam at purus non tortor tristique dapibus vel in dolor. Integer lacinia, massa at scelerisque congue, justo ligula imperdiet dolor, id malesuada arcu elit vitae lorem. Phasellus scelerisque consequat tellus.

        Quisque scelerisque erat vel mi vestibulum molestie. Donec dolor augue, efficitur ut elit ut, molestie hendrerit nibh. Phasellus at enim et nulla ultrices fringilla non a neque. Donec lectus odio, tristique quis dolor sit amet, ornare pulvinar purus. Quisque imperdiet porta scelerisque. Proin suscipit mauris id neque vehicula, ut ullamcorper eros iaculis. Donec efficitur elit quam. Suspendisse vel orci ut enim molestie varius. Duis gravida turpis eu mi consequat blandit. Suspendisse nec consectetur enim. Vestibulum sit amet odio id lacus scelerisque mattis id non neque. Duis porta auctor fringilla. Praesent et nunc nisl.

        Ut at mi eu dolor laoreet viverra nec sit amet lectus. Praesent volutpat consectetur justo, at dictum sem dignissim in. Ut vehicula semper nisi id tempor. Curabitur elementum vitae leo eu pulvinar. Aliquam a augue lectus. Fusce iaculis sed odio nec porta. Nam dui tellus, vulputate ac semper non, luctus vitae velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque sollicitudin urna posuere, finibus tellus eu, venenatis est. Integer facilisis commodo mauris ut sagittis. Vivamus volutpat auctor blandit. Nulla semper nunc non est lobortis lobortis. Maecenas consequat sem eu augue imperdiet, id tincidunt velit dictum. Duis sit amet libero non lorem cursus interdum. Quisque non turpis condimentum, maximus elit at, posuere purus.

        In a est libero. Nullam efficitur nulla dolor, et porta tortor pellentesque sed. Vivamus convallis arcu vitae ex cursus sollicitudin. Aenean viverra sodales ultrices. Mauris molestie, arcu eu fringilla tempor, lacus lorem faucibus purus, et mollis erat mauris at sem. Morbi ut aliquet purus. Nam ipsum ex, luctus rutrum egestas sit amet, viverra in lacus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin vel tortor nec nulla lacinia condimentum. Integer eleifend at nibh at vulputate. Sed ullamcorper ultricies diam in finibus. Nam convallis, magna at tincidunt tincidunt, purus sem vestibulum leo, et maximus.
    </div>

    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                    <h2 class="modal-title" style="text-align: center">Medical Support Form</h2>
                </div>
                <center><h3>Donation Form :</h3></center>

                <div class="modal-body">
                    <p>I volunteerly contribute DSSN's effort to establish
                    medical fund for good health and better future of People with Down Syndrome.</p>

                    <div class="input-group col-sm-12 input-group">
                        <h4>My Donation :</h4>
                        <span class="col-sm-2">Monthly:</span>
                        <span class="col-sm-10">
                            <input type="checkbox" aria-label="100">
                            <label>100</label>&nbsp;&nbsp;
                            <input type="checkbox" aria-label="100">
                            <label>500</label>&nbsp;&nbsp;
                            <input type="checkbox" aria-label="100">
                            <label>1000</label>&nbsp;&nbsp;
                            <input type="checkbox" aria-label="100">
                            <label>others</label>
                        </span>
                    </div>

                    <div class="input-group col-sm-12">
                        <h4>Mode of Payment :</h4>
                        <span class="input-group">
                            <label>Monthly</label>
                            <input type="checkbox" aria-label="100">&nbsp;&nbsp;
                            <label>Quarterly</label>
                            <input type="checkbox" aria-label="100">&nbsp;&nbsp;
                            <label>Biannual</label>
                            <input type="checkbox" aria-label="100">&nbsp;&nbsp;
                            <label>Annualy</label>
                            <input type="checkbox" aria-label="100">
                        </span>
                    </div>

                    <div class="input-group col-sm-12">
                        <h4>My Information:</h4>

                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Name</span>
                            <input type="text" class="form-control" aria-describedby="basic-addon1">
                        </div>

                        <br>

                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon2">Mobile</span>
                            <input type="text" class="form-control" aria-describedby="basic-addon2">
                            <span class="input-group-addon" id="basic-addon3">Tel</span>
                            <input type="text" class="form-control" aria-describedby="basic-addon3">
                        </div>
                        <br>

                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon4">Email</span>
                            <input type="text" class="form-control" aria-describedby="basic-addon4">
                        </div>
                    </div>

                    <br>

                    <p style="">Relationship with People/Children with Down Syndrome</p>

                    <div class="input-group col-md-12">
                        <div class="col-md-6">
                            <label id="parents" class="col-md-6">Parents</label>
                            <input type="checkbox" class="col-md-6" aria-describedby="parents">
                        </div>

                        <div class="col-md-6">
                            <label id="guardians" class="col-md-6">Guardians</label>
                            <input type="checkbox" class="col-md-6" aria-describedby="guardians">
                        </div>

                        <div class="col-md-6">
                            <label id="relatives" class="col-md-6">Relative</label>
                            <input type="checkbox"  class="col-md-6" aria-describedby="relatives">
                        </div>

                        <div class="col-md-6">
                            <label id="siblings" class="col-md-6">Siblings</label>
                            <input type="checkbox" class="col-md-6" aria-describedby="siblings">
                        </div>

                        <div class="col-md-6">
                            <label id="friend" class="col-md-6">Friends</label>
                            <input type="checkbox" class="col-md-6" aria-describedby="friend">
                        </div>

                        <div class="col-md-6">
                            <label id="wellwisher" class="col-md-6">Wellwisher</label>
                            <input type="checkbox" class="col-md-6" aria-describedby="wellwisher">
                        </div>
                    </div>

                    <div>
                        <br>
                        <p>For more information contact:<br>
                        <h4>Down Syndrome Society, Nepal</h4>
                        E-mail : down.s.society@gmail.com<br>
                        Facebook group : downsyndromesocietynepal/satyamdaycarecenter
                        </p>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-info" data-dismiss="modal">Submit</button>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>