html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 auto;
    background: none repeat scroll 0 0 #fff;
    color: #222222;
    font-family: Arial, Verdana, Tahoma, sans-serif;
    font-size: 12px;
    line-height: 18px;
    padding: 0;
    padding-right: 0px !important; /*added*/
    margin-bottom: 60px;
    overflow: visible !important; /*added*/
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #353535;
    color: #fff;
    border-top: 4px solid #252525;
    line-height: 56px;
    text-align: center;
}
.notification-heading, .notification-footer {
    padding: 2px 10px;
}
@media (max-width: 410px) {
    .footer {
        line-height: 25px;
    }
}